<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white font-bold text-xl">
            <a href="">Mes exercices</a>
        </div>
        <ul class="flex space-x-4">
            <li>
                <a routerLink="/" class="text-gray-300 font-bold hover:text-white">Compteur</a>
            </li>
            <li>
                <a routerLink="/series" class="text-gray-300 font-bold hover:text-white">Series</a>
            </li>
        </ul>
    </div>
</nav>